.album-content {
  padding: var(--custom-container-padding);
}

.slide-icon {
  font-size: 25px;
}

.album-img {
  display: flex;
  width: 100%;
  border-radius: 10px;
}

.album-title {
  line-height: 30px;
}

.album-description {
  padding: .8rem;
  border-radius: 8px;
  background: var(--custom-bg-text-wrapper-color);
  font-size: 16px;
}