<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title>Albumes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <swiper-container>

    <swiper-slide *ngFor="let item of list">
      <div class="album-content">
        <img class="album-img" [src]="item.image" alt="Fondo de pantalla">

        <h2 class="album-title">{{item.title | titlecase }}</h2>

        <p class="album-description">{{item.text}}</p>
      </div>
    </swiper-slide>

  </swiper-container>
</ion-content>
