<ion-content [fullscreen]="true">
  <div class="container">
    <div class="bg-img"></div>
    
    <div class="center ion-justify-content-center ion-padding">
      <form [formGroup]="form" style="display: flex; flex-direction: column; " (submit)="login(form.value)">

        <div class="center">
          <ion-img class="ion-margin-bottom logo-img" src="assets/icon/icon.svg" ></ion-img>
          <span class="ion-text-center sign-in-txt">Iniciar sesión</span>
        </div>
        <br/>
        <ion-item lines="none" class="input-item">
          <ion-icon color="primary" name="mail-outline"></ion-icon>
          <ion-input class="login-input" label="Email" label-placement="floating" formControlName="email" placeholder="example@mail.com" ></ion-input>
        </ion-item>

        <ng-container *ngFor="let validation of validationMessages.email" >
          <div class="input-error" *ngIf="hasError('email', validation.type)">
            {{validation.message}}
          </div>
        </ng-container>
    
        <br/>

        <ion-item lines="none" class="input-item">
          <ion-icon color="primary" name="lock-closed-outline"></ion-icon>
          <ion-input class="login-input" 
            [type]="showPsw ? 'text' : 'password'" formControlName="password" 
            label="Password" label-placement="floating"
            placeholder="password">
          </ion-input>
          <ion-icon color="primary" [name]="showPsw ? 'eye-off-outline' : 'eye'" (click)="showPsw = !showPsw"></ion-icon>
        </ion-item>

        <ng-container *ngFor="let val of validationMessages.password" >
          <div class="input-error" *ngIf="hasError('password', val.type)">
            {{val.message}}
          </div>
        </ng-container>
        <br/>

        <ion-button class="login-btn" expand="block" type="submit">Iniciar sesión</ion-button>


        <div class="create-acc">¿No tienes usuario? <a routerLink="/sign-up">Crear una cuenta</a></div>

      </form>
    </div>
  </div>

</ion-content>
