@import '../../theme/colors.scss';

@function bg($color) {
    @return linear-gradient(to bottom, transparent, $color 90%), url('../../assets/images/sun-tornado.svg');
}

.bg-img {
    background-image: bg(white);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 300px;
    position: absolute;
    z-index: -1;
}

@media (prefers-color-scheme: dark) {
    .bg-img {
        background-image: bg(var(--ion-background-color));;
    }
}

.center {
    display: flex;
    flex-direction: column;
}

.logo-img {
    margin-top: 200px;
    height: 150px;
}

.sign-in-txt {
    font-size: 21px;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.login-btn {
    --padding-top: 15px;
    --padding-bottom: 15px;
}

.create-acc {
    font-size: 16px;
    margin-top: 20px;
    text-align: center;

    a {
        font-weight: 600;
        text-decoration: none;
    }
}