<div class="ion-page">
  <ion-content>
    <h1>Artistas</h1>
    <swiper-container [initialSlide]="0" [slidesPerView]="4">
      <swiper-slide *ngFor="let artist of artists">
        <ion-avatar (click)="showSongs(artist)">
          <img [src]="artist.image" alt="profile picture">
          <span class="ion-text-center">{{artist.name}}</span>
        </ion-avatar>
      </swiper-slide>
    </swiper-container>

    <!-- Local Service -->
    <swiper-container class="ion-margin-top" [initialSlide]="0" [slidesPerView]="4">
      <swiper-slide *ngFor="let artist of localArtists">
        <ion-avatar>
          <img [src]="getImage(artist)" alt="profile picture">
          <span class="ion-text-center">{{artist.name}}</span>
        </ion-avatar>
      </swiper-slide>
    </swiper-container>

    <!-- Album Swiper -->
    <h1>Albumes</h1>
    <swiper-container 
      [initialSlide]="0"
      [slidesPerView]="3"
      *ngIf="albums?.length"
      >
    <swiper-slide *ngFor="let album of albums">
      <ion-avatar class="album-style" (click)="showAlbumSongs(album)">
        <img src="{{album.image}}" />
        <span>{{album.name}}</span>
      </ion-avatar>
    </swiper-slide>
  </swiper-container>
  
    <!-- <ion-button routerLink="/landing" fill="outline">Go to Landing</ion-button> -->
  </ion-content>

  <ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-start">{{ formatTime(currentSong?.currentTime || 0) }}</ion-col>
        <ion-col class="ion-text-end">{{ formatTime(currentSong?.duration || 0) }}</ion-col>
      </ion-row>
    </ion-grid>
    <ion-progress-bar [value]="songProgress"></ion-progress-bar>
    <ion-grid>
      <ion-row>
        <ion-col size="1">
        <ion-icon name="heart"></ion-icon>
      </ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text>{{
          song?.name || "Sin cancion seleccionada"
        }}</ion-text>
      </ion-col>
      <ion-col size="1">
        <ion-icon *ngIf="!song?.playing" (click)="play()" name="play"></ion-icon>
        <ion-icon *ngIf="song?.playing" (click)="pause()" name="pause"></ion-icon>
      </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</div>